<nb-card>
  <nb-card-body>
    <form [(formGroup)]="form">
      <!-- <hr />
      {{ form.value | json }}
      <hr /> -->


      <nb-stepper orientation="horizontal" [linear]="false">
        <nb-step label="Sayfa 1" [stepControl]="form">
          <div class="button">
            <button nbButton outline disabled nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <ngx-custom-input-box rowName="İsim" [numeric]="false" [(formGroup)]="form" formControlName="name">
          </ngx-custom-input-box>
          <ngx-custom-date-picker rowName="Kayıt Tarihi" [(formGroup)]="form" formControlName="regDate">
          </ngx-custom-date-picker>
          <ngx-custom-selector rowName="Bölge" [selectingList]="familyKeys.areas" [(formGroup)]="form" formControlName="area">
          </ngx-custom-selector>
          <ngx-custom-input-box rowName="Adres" [(formGroup)]="form" formControlName="address">
          </ngx-custom-input-box>
          <ngx-custom-selector rowName="Durum" [selectingList]="familyKeys.statuses" [(formGroup)]="form" formControlName="status">
          </ngx-custom-selector>
          <ngx-custom-input-box rowName="Açıklama" [(formGroup)]="form" formControlName="comment">
          </ngx-custom-input-box>
        </nb-step>

        <nb-step label="Sayfa 2" [stepControl]="form">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <ngx-custom-input-box rowName="Aile Üye Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
            formControlName="memberCount">
          </ngx-custom-input-box>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <ul formArrayName="members">
                <li *ngFor="let member of members.controls; let i = index">
                  <span [formGroupName]="i">

                    <div>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>
                            Üye {{i+1}} Detayları
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [numeric]="false" rowName="Ad Soyad"
                                  [formGroup]="member" formControlName="name"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Kimlik No"
                                  [formGroup]="member" formControlName="idNo"></ngx-custom-input-box>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                  rowName="Meslek" [formGroup]="member" formControlName="job"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [minLength]="4"
                                  [maxLength]="4" rowName="Doğum Yılı" [formGroup]="member" formControlName="birthyear">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Gelir"
                                  [formGroup]="member" formControlName="income"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-selector [sideBySide]="true" rowName="Cinsiyet" [selectingList]="memberKeys.genders"
                                  [(formGroup)]="member" formControlName="gender">
                                </ngx-custom-selector>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Ayakkabı Numarası"
                                  [formGroup]="member" formControlName="shoe"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-selector [sideBySide]="true" rowName="Beden" [selectingList]="familyKeys.bodies"
                                  [(formGroup)]="member" formControlName="body">
                                </ngx-custom-selector>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                  rowName="Hastalık / Engel" [formGroup]="member" formControlName="disease">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </div>
                    <hr />
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <ngx-custom-input-box rowName="Eğitim Bilgisi Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
            formControlName="educationCount">
          </ngx-custom-input-box>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <ul formArrayName="educations">
                <li *ngFor="let education of educations.controls; let i = index">
                  <span [formGroupName]="i">
                    <div>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>
                            Üye {{i+1}} Eğitim Detayları
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>

                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [numeric]="false" rowName="Ad Soyad"
                                  [formGroup]="education" formControlName="name"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                  rowName="Okul" [formGroup]="education" formControlName="school">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Sınıf"
                                  [formGroup]="education" formControlName="grade"></ngx-custom-input-box>
                              </div>
                            </div>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </div>
                    <hr />
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </nb-step>

        <nb-step label="Sayfa 3" [stepControl]="form">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline disabled nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <ngx-custom-input-box rowName="Gelir Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
            formControlName="incomeCount">
          </ngx-custom-input-box>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <ul formArrayName="incomes">
                <li *ngFor="let income of incomes.controls; let i = index">
                  <span [formGroupName]="i">
                    <div>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>
                            Gelir {{i+1}} Detayları
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [numeric]="false" [alpha]="false"
                                  rowName="Kurum Adı" [formGroup]="income" formControlName="name">
                                </ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Tutar"
                                  [formGroup]="income" formControlName="amount">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </div>
                    <hr />
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <ngx-custom-input-box rowName="Gider Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
            formControlName="outgoCount">
          </ngx-custom-input-box>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <ul formArrayName="outgoes">
                <li *ngFor="let outgo of outgoes.controls; let i = index">
                  <span [formGroupName]="i">
                    <div>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>
                            Gider {{i+1}} Detayları
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [numeric]="false" [alpha]="false"
                                  rowName="Kurum Adı" [formGroup]="outgo" formControlName="name"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Tutar"
                                  [formGroup]="outgo" formControlName="amount">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </div>
                    <hr />
                  </span>
                </li>
              </ul>
            </div>
          </div>


          <ngx-custom-input-box rowName="Fatura Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
            formControlName="billCount">
          </ngx-custom-input-box>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <ul formArrayName="bills">
                <li *ngFor="let bill of bills.controls; let i = index">
                  <span [formGroupName]="i">
                    <div>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>
                            Fatura {{i+1}} Detayları
                          </nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <div class="row">
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [numeric]="false" [alpha]="false" rowName="Fatura Adı"
                                  [formGroup]="bill" formControlName="name"></ngx-custom-input-box>
                              </div>
                              <div class="col-sm-6">
                                <ngx-custom-input-box [sideBySide]="true" [alpha]="false"
                                  rowName="Mukavele No" [formGroup]="bill" formControlName="contract">
                                </ngx-custom-input-box>
                              </div>
                            </div>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </div>
                    <hr />
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </nb-step>
      </nb-stepper>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button (click)="onSubmit()" nbButton status="primary" hero [disabled]="form.invalid">
            {{buttonName}}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>