<nb-card>
  <nb-card-body>
    <form [(formGroup)]="form">
      <hr />
      {{ form.value | json }}
      <hr />

      <ngx-custom-input-box rowName="İsim" [numeric]="false" [(formGroup)]="form" formControlName="name">
      </ngx-custom-input-box>
      <ngx-custom-date-picker rowName="Kayıt Tarihi" [(formGroup)]="form" formControlName="regDate">
      </ngx-custom-date-picker>
      <ngx-custom-selector rowName="Bölge" [selectingList]="areas" [(formGroup)]="form" formControlName="area">
      </ngx-custom-selector>
      <ngx-custom-input-box rowName="Adres" [(formGroup)]="form" formControlName="address">
      </ngx-custom-input-box>
      <ngx-custom-selector rowName="Durum" [selectingList]="statuses" [(formGroup)]="form" formControlName="status">
      </ngx-custom-selector>
      <ngx-custom-input-box rowName="Açıklama" [(formGroup)]="form" formControlName="comment">
      </ngx-custom-input-box>
      <ngx-custom-input-box rowName="Gelir" [alpha]="false" [(formGroup)]="form" formControlName="income">
      </ngx-custom-input-box>

      <ngx-custom-input-box rowName="Aile Üye Sayısı" [maxLength]="2" [alpha]="false" [(formGroup)]="form"
        formControlName="memberCount">
      </ngx-custom-input-box>
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <ul formArrayName="members">
            <li *ngFor="let item of members.controls; let i = index">
              <span [formGroupName]="i">
                <input nbInput type="name" pattern="^[a-zA-Z öçşiğüÖÇŞİĞÜ]+$" placeholder="Aile Üyesi İsmi"
                  formControlName="name" />
                <input nbInput type="number" placeholder="Aile Üyesi Yaşı" formControlName="age" />
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button (click)="onSubmit()" nbButton status="primary" hero [disabled]="form.invalid">
            {{buttonName}}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>