<nb-card>
  <nb-card-body>
    <form #userForm="ngForm">
      {{accountTypeModel | json }}
      <hr />

      <div class="form-group row">
        <label for="commentId" class="label col-sm-3 col-form-label">Hesap Tipi Adı</label>
        <div class="col-sm-9">
          <input type="text" required #name="ngModel"
                 [class.status-danger]="name.touched && name.invalid" class="form-control"
                 [class.is-invalid]="name.touched && name.invalid" nbInput fullWidth name="comment" id="commentId"
                 placeholder="Hesap Tipi Adı"
                 [(ngModel)] = "accountTypeModel.name">
        </div>
      </div>

      <div class="form-group row">
        <label for="typeId" class="label col-sm-3 col-form-label">Tip</label>
        <div class="col-sm-9">
          <nb-select id="typeId" [(selected)]="accountTypeModel.type" status="primary">
            <nb-option *ngFor="let activityType of activityTypes; let i='index'" [value]="i">
              {{ activityType }} </nb-option>
          </nb-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="typeId" class="label col-sm-3 col-form-label">Durum</label>
        <div class="col-sm-9">
          <nb-select id="stateId" [(selected)]="accountTypeModel.state" status="primary">
            <<nb-option [value]="true">Aktif</nb-option>
            <nb-option [value]="false">Pasif</nb-option>
          </nb-select>
        </div>
      </div>


    </form>
  </nb-card-body>
</nb-card>
