<nb-card>
  <nb-card-body>
    <form [(formGroup)]="form">
      {{ form.value | json }}
      <hr />
      <ngx-custom-input-box rowName="Hesap Tipi Adı" [numeric]="false" [(formGroup)]="form" formControlName="name">
      </ngx-custom-input-box>     
      <ngx-custom-selector rowName="Tip" [selectingList]="activityTypes" [(formGroup)]="form" formControlName="type">
      </ngx-custom-selector>
      <ngx-custom-selector rowName="Durum" [selectingList]="statuses" [(formGroup)]="form" formControlName="status">
      </ngx-custom-selector>
    </form>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button (click)="onSubmit()" nbButton status="primary" hero [disabled]="form.invalid">
          {{buttonName}}
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
