@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^="col-"] {
      // padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(background-basic-color-2);
        padding: 0.2rem 0.5rem;
        border-radius: 0.15rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }
}

.button {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.container {
  width: 1200px;
  height: 800px;
}

// * {
//   outline: 0.1em solid red;
// }

nb-list-item {
  margin: 0;
  padding: 0;
}

.popover-row {
  margin: 0.5em;
}

.section {
  margin-top: 2em;
}

.minus {
  margin-left: 2em;
}

.image-card {
  .minus {
    margin: 1em;
  }
}

.image-container {
  margin: 2em;

  img {
    border-radius: 5%;
  }
}
