<div class="container">
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" [linear]="false">
        <nb-step label="Genel">
          <div class="button">
            <button nbButton outline disabled nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <ng-container *ngTemplateOutlet="row; context: {label: 'İsim', value: family.name}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Uyruk', value: family.nation}">
          </ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Kayıt', value: family.createdAt}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Adres', value: family.address}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Kayıt Eden Üye', value: family.registrant}">
          </ng-container>
        </nb-step>

        <nb-step label="Aile Üyeleri">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row">
            <label class="label col-3 col-form-label">Aile Üyeleri</label>
            <div class="col-9">
              <div class="minus" *ngIf="family.members.length == 0">
                <nb-icon icon="minus-outline"></nb-icon>
              </div>
              <nb-list>
                <nb-list-item *ngFor="let member of family.members; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="memberViewingPopoverComponent"
                        [nbPopoverContext]="{member: member}">{{member.name}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>
        </nb-step>

        <nb-step label="Bütçe">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row section">
            <label class="label col-3 col-form-label">Bütçe</label>
            <div class="col-9">
              <div class="minus" *ngIf="family.budgets.length == 0">
                <nb-icon icon="minus-outline"></nb-icon>
              </div>
              <nb-list>
                <nb-icon icon="minus-outline"></nb-icon>
                <nb-list-item *ngFor="let budget of family.budgets; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="budgetViewingPopoverComponent"
                        [nbPopoverContext]="{budget: budget}">{{budget.name}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>

          <div class="row section">
            <label class="label col-3 col-form-label">İhtiyaç</label>
            <div class="col-9">
              <div class="minus" *ngIf="family.needs.length == 0">
                <nb-icon icon="minus-outline"></nb-icon>
              </div>
              <nb-list>
                <nb-list-item *ngFor="let need of family.needs; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="needViewingPopoverComponent" [nbPopoverContext]="{need: need}">{{need}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>

          <div class="row section">
            <label class="label col-3 col-form-label">Not</label>
            <div class="col-9">
              <div class="minus" *ngIf="family.notes.length == 0">
                <nb-icon icon="minus-outline"></nb-icon>
              </div>
              <nb-list>
                <nb-list-item *ngFor="let note of family.notes; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="noteViewingPopoverComponent"
                        [nbPopoverContext]="{note: note}">{{note.statement}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>
        </nb-step>
<!-- 
        <nb-step label="Resim">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline disabled nbStepperNext>Sonraki</button>
          </div>
          <hr />

          <nb-card class="image-card">
            <div class="minus" *ngIf="family.images.length == 0">
              <nb-icon icon="minus-outline"></nb-icon>
            </div>
            <div class="row">
              <div class="image-container" *ngFor="let image of family.images; index as i">
                <img [src]="image" height="400">
              </div>
            </div>
          </nb-card>
        </nb-step> -->

      </nb-stepper>


      <ng-template #row let-label="label" let-value="value">
        <div class="row show-grid">
          <label class="label col-3 col-form-label">{{label}}: </label>
          <div class="col-9 label col-form-label">
            <div>{{value}}</div>
          </div>
        </div>
      </ng-template>


    </nb-card-body>
  </nb-card>
</div>