<nb-card>
 <nb-card-body>
    <form [(formGroup)]="form">
      <hr />
      {{ form.value | json }}
      <hr />

      <ngx-custom-input-box rowName="Stok Adı" [numeric]="false" [(formGroup)]="form" formControlName="name">
      </ngx-custom-input-box>
      <ngx-custom-input-box rowName="Stok Adeti" [alpha]="false" [(formGroup)]="form" formControlName="total">
      </ngx-custom-input-box>

      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button (click)="onSubmit()" nbButton status="primary" hero [disabled]="form.invalid">
            {{buttonName}}
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>