<nb-card>
  <nb-card-body>
    <form #userForm="ngForm">
      <hr />
      {{ activityModel | json }}
      <hr />

      <ngx-custom-selector rowName="Tip" [selectingList]="activityTypes" [(selected)]="activityModel.activityType">
      </ngx-custom-selector>
      <ngx-custom-selector rowName="Üye/Cari/Diğer" [selectingList]="activityAbouts" [(selected)]="activityModel.about">
      </ngx-custom-selector>
      <ngx-custom-date-picker rowName="Tarih" [(dateSelect)]="activityModel.date"></ngx-custom-date-picker>
      <ngx-custom-input-box rowName="Makbuz/Fatura No" [(data)]="activityModel.scriptNo">
      </ngx-custom-input-box>
      <ngx-custom-selector rowName="Kasa" [selectingList]="activityBankSafes" [(selected)]="activityModel.bankSafe">
      </ngx-custom-selector>
      <ngx-custom-selector rowName="Kampanya" [selectingList]="activityBankSafes" [(selected)]="activityModel.campaign">
      </ngx-custom-selector>
      <ngx-custom-input-box rowName="İsim" [numeric]="false" [(data)]="activityModel.name">
      </ngx-custom-input-box>
      <ngx-custom-selector rowName="Kasa" [selectingList]="activityBankSafes" [(selected)]="activityModel.accountType">
      </ngx-custom-selector>
      <ngx-custom-input-box rowName="Açıklama" [numeric]="false" [alpha]="false" [(data)]="activityModel.comment">
      </ngx-custom-input-box>
      <ngx-custom-input-box rowName="Tutar" [alpha]="false" [(data)]="activityModel.amount">
      </ngx-custom-input-box>


    </form>
  </nb-card-body>
</nb-card>