<nb-card>
  <nb-card-body>
    <form [(formGroup)]="form">
      <!-- <hr />
      {{ form.value | json }}
      <hr /> -->
      <nb-stepper orientation="horizontal" [linear]="false">
        <nb-step label="Genel" [stepControl]="form">
          <div class="button">
            <button nbButton outline disabled nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <!-- <input type="text" formControlName="name" /> -->
          <ngx-custom-input-box [required]="true" rowName="İsim" [numeric]="false" [(formGroup)]="form"
            formControlName="name">
          </ngx-custom-input-box>
          <ngx-custom-input-box rowName="Kimlik Numarası" [alpha]="false" [(formGroup)]="form" formControlName="idNo">
          </ngx-custom-input-box>
          <ngx-custom-input-box rowName="Uyruk" [numeric]="false" [(formGroup)]="form" formControlName="nation">
          </ngx-custom-input-box>
          <ngx-custom-input-box rowName="Telefon" [alpha]="false" [(formGroup)]="form" formControlName="tel">
          </ngx-custom-input-box>
          <ngx-custom-input-box rowName="Kira" [alpha]="false" [(formGroup)]="form" formControlName="rent">
          </ngx-custom-input-box>
          <ngx-custom-selector placeholder="Isınma Tipi" rowName="Isınma Tipi" [selectingList]="familyKeys.warmingTypes"
            [(formGroup)]="form" formControlName="warmingType">
          </ngx-custom-selector>
          <ngx-custom-input-box rowName="Adres" [(formGroup)]="form" formControlName="address">
          </ngx-custom-input-box>
          <ngx-custom-input-box rowName="İlçe" [numeric]="false" [(formGroup)]="form" formControlName="district">
          </ngx-custom-input-box>
        </nb-step>

        <nb-step label="Aile Üyeleri" [stepControl]="form">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row form-group">
            <label for="memberCount" class="col-1 label form-label">Aile Üye: {{ memberCount.value}}</label>
            <div class="col-11">
              <button class="form-button" [disabled]="memberCount.value >= 10" (click)="addForm('memberCount')"
                nbButton>
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <ul formArrayName="members">
                <li *ngFor="let member of members.controls; let i = index">
                  <span [formGroupName]="i">
                    <div class="row">
                      <div class="col-10">
                        <nb-accordion>
                          <nb-accordion-item>
                            <nb-accordion-item-header>
                              {{member.value.name ? member.value.name: "-"}}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [numeric]="false" rowName="Ad Soyad"
                                    [formGroup]="members.controls[i]" [required]="true" formControlName="name">
                                  </ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Kimlik No"
                                    [formGroup]="members.controls[i]" formControlName="idNo"></ngx-custom-input-box>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Akrabalık Derecesi" [formGroup]="members.controls[i]"
                                    formControlName="kinship">
                                  </ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [minLength]="4"
                                    [maxLength]="4" rowName="Doğum Yılı" [formGroup]="members.controls[i]"
                                    formControlName="birthyear">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Gelir"
                                    [formGroup]="members.controls[i]" formControlName="income"></ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Meslek" [formGroup]="members.controls[i]" formControlName="job">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Beden"
                                    [formGroup]="members.controls[i]" formControlName="size"></ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" rowName="Ayakkabı Numarası"
                                    [formGroup]="members.controls[i]" formControlName="shoe"></ngx-custom-input-box>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Hastalık / Engel" [formGroup]="members.controls[i]"
                                    formControlName="disease">
                                  </ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Not" [formGroup]="members.controls[i]" formControlName="note">
                                  </ngx-custom-input-box>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Okul" [formGroup]="members.controls[i]" formControlName="school">
                                  </ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [alpha]="false" [numeric]="false"
                                    rowName="Sınıf" [formGroup]="members.controls[i]" formControlName="grade">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-selector [sideBySide]="true" rowName="Cinsiyet"
                                    [selectingList]="familyKeys.genders" [(formGroup)]="members.controls[i]"
                                    formControlName="gender">
                                  </ngx-custom-selector>
                                </div>
                              </div>
                            </nb-accordion-item-body>
                          </nb-accordion-item>
                        </nb-accordion>
                      </div>
                      <div class="col-2">
                        <button class="remove-button" [disabled]="memberCount.value <= 0 "
                          (click)="removeForm('memberCount', 'members', i)" nbButton>
                          <nb-icon icon="close-outline"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </nb-step>

        <nb-step label="Bütçe" [stepControl]="form">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row form-group">
            <label for="budgetCount" class="col-1 label form-label">Bütçe: {{ budgetCount.value }}</label>
            <div class="col-11">
              <button class="form-button" [disabled]="budgetCount.value >= 5" (click)="addForm('budgetCount')" nbButton>
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <ul formArrayName="budgets">
                <li *ngFor="let budget of budgets.controls; let i = index">
                  <span [formGroupName]="i">
                    <div class="row">
                      <div class="col-10">
                        <nb-accordion>
                          <nb-accordion-item>
                            <nb-accordion-item-header>
                              {{budget.value.name ? budget.value.name: "-"}}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-selector [sideBySide]="true" rowName="Tip"
                                    [selectingList]="familyKeys.budgetTypes" [(formGroup)]="budgets.controls[i]"
                                    formControlName="type">
                                  </ngx-custom-selector>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [required]="true" [numeric]="false"
                                    [alpha]="false" rowName="Bütçe Adı" [(formGroup)]="budgets.controls[i]"
                                    formControlName="name">
                                  </ngx-custom-input-box>
                                </div>
                                <div class="col-6">
                                  <ngx-custom-input-box [sideBySide]="true" [required]="true" [alpha]=" false"
                                    rowName="Tutar" [(formGroup)]="budgets.controls[i]" formControlName="amount">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                            </nb-accordion-item-body>
                          </nb-accordion-item>
                        </nb-accordion>
                      </div>
                      <div class="col-2">
                        <button class="remove-button" [disabled]="budgetCount.value <= 0 "
                          (click)="removeForm('budgetCount', 'budgets', i)" nbButton>
                          <nb-icon icon="close-outline"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row form-group">
            <label for="noteCount" class="col-1 label form-label">Not: {{ noteCount.value}}</label>
            <div class="col-11">
              <button class="form-button" [disabled]="noteCount.value >= 5" (click)="addForm('noteCount')" nbButton>
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <ul formArrayName="notes">
                <li *ngFor="let note of notes.controls; let i = index">
                  <span [formGroupName]="i">
                    <div class="row">
                      <div class="col-10">
                        <nb-accordion>
                          <nb-accordion-item>
                            <nb-accordion-item-header>
                              {{note.value.statement ? note.value.statement: "-"}}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                              <div class="row">
                                <div class="col-12">
                                  <ngx-custom-input-box [sideBySide]="true" [numeric]="false" [alpha]="false"
                                    rowName="Not" [(formGroup)]="notes.controls[i]" [required]="true"
                                    formControlName="statement">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                            </nb-accordion-item-body>
                          </nb-accordion-item>
                        </nb-accordion>
                      </div>
                      <div class="col-2">
                        <button class="remove-button" [disabled]="noteCount.value <= 0 "
                          (click)="removeForm('noteCount', 'notes', i)" nbButton>
                          <nb-icon icon="close-outline"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div class="row form-group">
            <label for="needCount" class="col-1 label form-label">İhtiyaç: {{ needCount.value}}</label>
            <div class="col-11">
              <button class="form-button" [disabled]="needCount.value >= 5" (click)="addForm('needCount')" nbButton>
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <ul formArrayName="needs">
                <li *ngFor="let need of needs.controls; let i = index">
                  <span [formGroupName]="i">
                    <div class="row">
                      <div class="col-10">
                        <nb-accordion>
                          <nb-accordion-item>
                            <nb-accordion-item-header>
                              {{need.value.name? need.value.name : "-"}}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                              <div class="row">
                                <div class="col-12">
                                  <ngx-custom-input-box [sideBySide]="true" [numeric]="false" [alpha]="false"
                                    rowName="İhtiyaç" [required]="true" [(formGroup)]="needs.controls[i]"
                                    formControlName="name">
                                  </ngx-custom-input-box>
                                </div>
                              </div>
                            </nb-accordion-item-body>
                          </nb-accordion-item>
                        </nb-accordion>
                      </div>
                      <div class="col-2">
                        <button class="remove-button" [disabled]="needCount.value <= 0 "
                          (click)="removeForm('needCount', 'needs', i)" nbButton>
                          <nb-icon icon="close-outline"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </nb-step>

        <nb-step label="Resim" [stepControl]="form">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline disabled nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <input nbInput style="display: none" type="file" accept="image/*" multiple (change)="onFileChanged($event)"
            #fileInput>
          <button nbButton (click)="fileInput.click()">
            <nb-icon icon="upload-outline"></nb-icon> Resim Yükle
          </button>

          <nb-card class="image-card">
            <div class="row">
              <div class="image-container" *ngFor="let image of form.value.images; index as i">
                <img [src]="image" height="300">
                <button status="primary" (click)="deleteFile(i)" shape="round" nbButton>
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
              </div>
            </div>

          </nb-card>
        </nb-step>
      </nb-stepper>

      <div class="form-group row" >
        <div class="offset-3 col-9" >
          <div class="row" *ngIf="!busy">
            <button class="bottom-button" (click)="onSubmit()" nbButton status="primary" hero [disabled]="form.invalid">
              {{buttonName}}
            </button>
            <button class="bottom-button" *ngIf="this.model._id != null" (click)="onDownload()" nbButton status="primary" hero>
              İNDİR
            </button>
          </div>
        </div>

      </div>
    </form>
  </nb-card-body>
</nb-card>