<div class="container">
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" [linear]="false">
        <nb-step label="Sayfa 1">
          <div class="button">
            <button nbButton outline disabled nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <ng-container *ngTemplateOutlet="row; context: {label: 'İsim', value: family.name}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Uyruk', value: family.nation}">
          </ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Kayıt', value: family.regDate}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Adres', value: family.address}"></ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Kayıt Eden Üye', value: family.clerk}">
          </ng-container>
          <ng-container *ngTemplateOutlet="row; context: {label: 'Durum', value: familyKeys.statuses[family.status]}">
          </ng-container>
        </nb-step>

        <nb-step label="Sayfa 2">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row">
            <label class="label col-3 col-form-label">Aile Üyeleri</label>
            <div class="col-9">
              <nb-list>
                <nb-list-item *ngFor="let member of family.members; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="memberViewingPopoverComponent"
                        [nbPopoverContext]="{member: member}">{{member.name}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>
        </nb-step>

        <nb-step label="Sayfa 3">
          <div class="button">
            <button nbButton outline nbStepperPrevious>Önceki</button>
            <button nbButton outline disabled nbStepperNext>Sonraki</button>
          </div>
          <hr />
          <div class="row">
            <label class="label col-3 col-form-label">Bütçe</label>
            <div class="col-9">
              <nb-list>
                <nb-list-item *ngFor="let budget of family.budgets; let i=index">
                  <div class="row justify-content-start popover-row">
                    <div class="col-12">
                      <button fullWidth nbButton nbPopoverAdjustment="noop" nbPopoverPlacement="right"
                        [nbPopover]="budgetViewingPopoverComponent"
                        [nbPopoverContext]="{budget: budget}">{{budget.name}}</button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>
        </nb-step>
      </nb-stepper>


      <ng-template #row let-label="label" let-value="value">
        <div class="row show-grid">
          <label class="label col-3 col-form-label">{{label}}: </label>
          <div class="col-9 label col-form-label">
            <div>{{value}}</div>
          </div>
        </div>
      </ng-template>


    </nb-card-body>
  </nb-card>
</div>