<div class="form-group row" [formGroup]="formGroup">
  <label class="label col-sm-3 col-form-label">{{rowName}}</label>
  <div class="col-sm-9">
    <input type="text" required [pattern]="regexPattern" [class.status-danger]="getData.touched && getData.invalid"
      [class.is-invalid]="getData.touched && getData.invalid" class="form-control" nbInput fullWidth
      [placeholder]="rowName" name="formControl" [formControlName]="formControlName" />
    <div *ngIf="getData.errors && getData.invalid && getData.touched">
      <div class="text-danger" *ngIf="getData.errors.pattern && alpha && numeric; else elseBlock1">
        Sadece harf ve rakam içerebilir.
      </div>
      <ng-template #elseBlock1>
        <div class="text-danger" *ngIf="getData.errors.pattern && alpha; else elseBlock2">
          Sadece harf içerebilir.
        </div>
      </ng-template>
      <ng-template #elseBlock2>
        <div class="text-danger" *ngIf="getData.errors.pattern && numeric">
          Sadece rakam içerebilir.
        </div>
      </ng-template>
    </div>
  </div>
</div>