<div *ngIf="!sideBySide; else elseTemplate">
  <div class="form-group row">
    <label class="label col-sm-3 col-form-label">{{rowName}}<span *ngIf="required">*</span> </label>
    <div class="col-sm-9">
      <ng-container *ngTemplateOutlet="body"></ng-container>
    </div>
  </div>
</div>

<ng-template #elseTemplate>
  <div class="form-group">
    <label [for]="formControlName" class="label">{{rowName}}<span *ngIf="required">*</span></label>
    <ng-container *ngTemplateOutlet="body"></ng-container>
  </div>
</ng-template>

<ng-template #body>
  <div [formGroup]="formGroup">
    <div *ngIf="alpha || (!alpha && !numeric); else elseBlock0">
      <input type="text" [required]="required" [pattern]="regexPattern"
        [class.status-danger]="getData.touched && getData.invalid"
        [class.is-invalid]="getData.touched && getData.invalid" nbInput fullWidth [placeholder]="rowName"
        name="formControl" [formControlName]="formControlName" />
    </div>
    <ng-template #elseBlock0>
      <input type="number" [class.status-danger]="getData.touched && getData.invalid"
        [class.is-invalid]="getData.touched && getData.invalid" nbInput fullWidth [placeholder]="rowName"
        name="formControl" [formControlName]="formControlName" />
    </ng-template>
    <div class="text-danger" *ngIf="getData && getData.errors && (getData.dirty || getData.touched)">
      <div *ngIf="getData.errors.required"><small>Bu alanın doldurulması gerekli.</small></div>
      <div *ngIf="getData.errors.minlength"><small>En az {{minLength}} karakter olabilir.</small></div>
      <div *ngIf="getData.errors.maxlength"><small>En çok {{maxLength}} karakter olabilir. </small></div>
      <div *ngIf="getData.errors.min"><small>En az {{minNumber}} olabilir.</small></div>
      <div *ngIf="getData.errors.max"><small>En çok {{maxNumber}} olabilir. </small></div>
      <div class="text-danger" *ngIf="getData.errors.pattern && alpha && numeric; else elseBlock1">
        <small>Sadece harf ve rakam içerebilir.</small>
      </div>
      <ng-template #elseBlock1>
        <div class="text-danger" *ngIf="getData.errors.pattern && alpha; else elseBlock2">
          <small>Sadece harf içerebilir.</small>
        </div>
      </ng-template>
      <ng-template #elseBlock2>
        <div class="text-danger" *ngIf="getData.errors.pattern && numeric">
          <small> Sadece rakam içerebilir. </small>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>